body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  background-color: black;
}

/*header*/

.header {
  height: 69px;
  width: 100%;
  border-bottom: solid seashell 1px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9
}

.header img {
  height: 50px;
  margin-left: 10px;
}


.header a {
  color: seashell;
  margin-right: 20px;
}

/*main content*/
.content {
  display: flex;
  justify-content: center;
  z-index: 2;
}

/*mission statement*/

.mission {
  margin-top: 69px;
  height: 700px;
  width: 1200px;
  background-image: url(../resources/images/main-background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2
}

.mission h2 {
  background-color: black;
  margin: 0px;
  padding: 10px;
  width: 1200px;
  padding: 10px;
}

.mission h4 {
  background-color: black;
  margin: 0px;
  padding: 10px;
  width: 1200px;
}
